h1{
    color:brown;
    justify-content:center;
    align-items:center;
    text-align: center;
}




#main{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    align-items:center;
}


#container{
    height:250px;
    width:250px;
    -ms-flex-align: center;
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    align-items:center;
   
}

#box1{
    padding:0%;
    margin:1%;
    background-color:red;
    height:100px;
    width:100px;
    border:1.35px;
    border-radius:9%;
    text-align: center;
    /* align-items: center; */

}

#box2{
    padding:0%;
    margin:1%;
    background-color:blue;
    height:100px;
    width:100px;
    border:1.35px;
    border-radius:9%;
    text-align: center;
}


#box3{
    padding:0%;
    margin:1%;
    background-color:green;
    height:100px;
    width:100px;
    border:1.35px;
    border-radius:9%;
    text-align: center;
}


#box4{
    padding:0%;
    margin:1%;
    background-color:yellow;
    height:100px;
    width:100px;
    border:1.35px;
    border-radius:9%;
    text-align: center;
}


#resetbtn{
    margin-top: 10%;
    text-align: center;
    color: 0;
}

button{
    height:30px;
    width:200px;
    border-radius: 9px;
}